[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    */urls.py
    */wsgi.py
    */asgi.py
    */settings/*
    */manage.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if settings.DEBUG
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    raise Exception
    
[html]
directory = coverage_html_report